
@{
    ViewBag.Title = "Rig Servicing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>@ViewBag.Title</h2>
    <hr />
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <div class="btn btn-primary btn-lg col-md-12" style="width:100%!important;">In Service</div>
            <div class="col-md-12" style="height:10px;"></div>
            <div class="btn btn-primary btn-lg col-md-12" style="width:100%!important;">Down</div>
            <div class="col-md-12" style="height:10px;"></div>
            <div class="btn btn-primary btn-lg col-md-12" style="width:100%!important;">Up</div>
            <div class="col-md-12" style="height:10px;"></div>
            <div class="btn btn-primary btn-lg col-md-12" style="width:100%!important;">Out of Service</div>
        </div>
    </div>
</div>

